.our-company{
  padding: 90px 0 120px;
  @media (max-width:991px) {
    padding: 45px 0;
  }
  .img-cont{
    margin: 0;
  }
  .inner-text-cont{
    margin-top: 5%;
    @media (max-width:991px) {
      margin-top: 15%;
    }
  }
}