.privacy-policy {

  .text-cont {
    margin-top: 5%;

    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 120%;
      color: #000000;
    }

    ul {
      list-style: disc;
    }

    h2 {
      font-weight: bold;
      font-size: 32px;
      line-height: 120%;
      color: #27282C;
    }
  }
}