footer{
  .top{
    padding:50px 0 20px;
    .logo-cont{
      height: 100%;
      display: flex;
      align-items: center;
      img{
        height:fit-content;
        width:fit-content;
      }
    }
    ul{
      padding:0;
      margin:0;
      li{
        margin-bottom:5px;
        a{
          font-size: 12px;
          line-height: 120%;
          color: #757575;
          font-weight:600;
        }
        &:hover{
          a{
            text-decoration:underline;
          }
        }
      }
    }
  }
  .mid{
    .policys-cont{
      height: 100%;
      display: flex;
      align-items: center;
      ul{
        padding:0;
        margin:0;
        display: flex;
        li{
          margin-right:15px;
          a{
            font-size: 12px;
            line-height: 120%;
            color: #757575;
            font-weight:600;
          }
          &:hover{
            a{
              text-decoration:underline;
            }
          }
        }
      }
    }
    .social-links{
      float:right;
      h6{
        color:#434343;
        margin:0;
        font-size: 12px;
        line-height: 14px;
        span{
          font-weight: 400;
        }
      }
      ul{
        padding:0;
        margin:10px 0 20px 0;
        display: flex;
        align-self: center;
        li{
          margin-right:30px;
        }
      }
    }
  }
  .bottom{
    padding:16px 0;
    border-top: 1px solid #434343;
    p{
      margin:0;
      font-size:12px;
      line-height: 14px;
      color: #434343;
    }
  }
}