header{
  background: #FCFCFC;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  nav{
    padding: .48% 0 !important;
    ul.navbar-nav{
      li{
        padding: 10px 20px;
        @media (max-width: 991px){
          padding:5px 0;
        }
        a{
          font-size: 12px;
          line-height: 120%;
          color: #757575;
        }
        .active{
          color: $blue;
          font-weight:600;
        }
      }
      li:has(.active){
        position: relative;
        &:after{
          content: "";
          width:70%;
          position: absolute;
          height: 2px;
          border-radius: 2px;
          bottom: -11px;
          left: 0;
          right: 0;
          margin: auto;
          background: $blue;
          @media (max-width: 991px){
            width: 100%;
            bottom: 5px;
          }
        }
      }
    }
    ul.login{
      display: flex;
      padding: 0;
      margin:0;
      @media (max-width:991px){
        display: inline-block;
      }
      li{
        padding:5px 20px;
        text-align: center;
        border-radius: 8px;
        border:1px solid $blue;
        margin: 0 4px;
        &:hover{
          background: $blue;
          a{
            color:$white;
          }
        }
        a{
          color: $blue;
          font-size: 12px;
          line-height: 120%;
        }
        &:last-child{
          border:1px solid #fff0;
          &:hover{
            background: #fff0;
            a{
              text-decoration: underline;
            }
          }
          a{
            font-size: 12px;
            line-height: 120%;
            display: flex;
            align-items: center;
            color: #323232;
            font-weight:600;
            svg{
              margin-right: 10px;
            }
          }
        }
        @media (max-width:991px){
          border:0;
          text-align: left;
          margin: 0;
          padding: 0;
          &:hover{
            background:#fff;
            a{
              color:$blue;
            }
          }
          a{
            font-size: 12px;
            line-height: 120%;
            color: #757575;
          }
        }
      }
    }
    button{
      height: 100%;
      span.navbar-toggler-icon{
        padding-top:5px;
        span{
          height: 3px;
          width: 100%;
          display: block;
          margin-bottom: 6px;
          background:#baadae;
          border-radius: 6px;
        }
      }
    }
  }
}