.featured-locations{
  padding: 60px 0;
  .text-cont{
    text-align: center;
    margin-bottom: 3.5em;
    h2{
      font-size: 42px;
      line-height: 49px;
      color: $red;
      span{
        color:#000;
        font-weight:400;
      }
    }
  }
  .card{
    margin: 0 3px;
    border:0;
    .img-cont{
      border-radius:8px;
      img{
        border-radius:8px;
        width: 100%;
      }
    }
    .inner-text{
      text-align: center;
      margin-top: 15px;
      @media (max-width:767px){
        margin-bottom: 25px;
      }
      a{
        font-size: 18px;
        line-height: 120%;
        color: #3E3E3E;
        font-weight:600;
      }
    }
  }
  .text-center{
    margin-top:4em;
    @media (max-width:767px){
      margin-top: 2em;
    }
    a{
      padding: 20px 45px;
      font-weight:600;
    }
  }
}