.how-it-works{
  background: #F3F3F3;
  padding: 60px 0 140px;
  @media (max-width:991px) {
    padding: 60px 0;
  }
  .text-cont{
    margin-top:150px;
    @media (max-width:991px) {
      margin-top:50px;
    }
    @media (max-width:767px) {
      margin-top:0;
      margin-bottom: 15px;
    }
    h6{
      color:$red;
    }
    p{
      font-size: 14px;
      line-height: 120%;
      margin: 15px 0 30px;
      font-weight:500;
    }
    a{
      padding: 10px 20px;
      border-radius:4px;
      font-weight:500;
    }
  }
  .img-cont{
    margin-top: 2em;
    position: relative;
    &:before,&:after{
      content:"";
      height:140px;
      width:140px;
      position: absolute;
      z-index:0;
    }
    &:before{
      background:$blue;
      bottom:-15px;
      left: -15px;
    }
    &:after{
      background:$red;
      top:-15px;
      right: -15px;
    }
    img{
      width: 100%;
      position: relative;
      z-index: 1;
    }
  }
  .video-modal{
    .modal-dialog{
      max-width: 600px;
      .modal-header{
        h5{
          color: $red;
        }
      }
    }
  }
  .pulse {
    animation: pulse-animation 2s infinite;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    box-shadow: 0px 0px 1px 1px #0000001a;
    background: #0000008c;
    z-index: 1;
    position: absolute;
    left: 45%;
    top: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
    }
  }
}